.fullDataContainer{
    margin: 0 auto;
    width: 80%;
    height: 400px;
    background-color: white;
    display: flex;
    border-radius: 16px;
}

.imageContainerFullData{
    height: 400px;
}

.imageContainerFullDataPer img{
    width: 300px;
    height: 100%;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.imageContainerFullData img{
    width: 400px;
    height: 100%;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.textDataFullData{
    position: relative;
    left: 50px;
}